/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Inconsolata", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
.grey {
  color: #727272;
}
.orange {
  color: #ff900e;
}
.btn-primary {
  border: none;
  background-color: #ff900e;
  border-radius: 0.5rem;
  color: white;
  padding: 1.4rem 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-left: 240px;
  padding-right: 240px;
}
nav h2 {
  font-size: 3rem;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
}
/* banner */
.banner {
  margin: auto;
  text-align: center;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 50px;
}
.banner-title,
.banner-para {
  padding: 25px;
}
.banner-content {
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.image {
  width: 100%;
}
/* banner end */
/* feature */
main {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feature-content h1 {
  font-size: 45px;
  font-weight: 700;
}
.fea-des {
  font-size: 1rem;
  line-height: 162%;
  padding: 20px 0px;
}
.quick {
  font-weight: 500;
}
.hide {
  display: none;
}
/* feature end */

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  nav h2 {
    font-size: 2rem;
  }
  nav li {
    padding: 7px;
  }
  .banner {
    padding: 20px;
  }
  .banner-title,
  .banner-para {
    padding: 20px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }

  main {
    padding: 20px;
  }
  .features {
    flex-direction: column;
  }
  .feature-images {
    grid-template-columns: 1fr 1fr;
  }
  .feature-images img {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    padding: 20px;
  }
  .banner-title,
  .banner-para {
    padding: 20px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
  }
}
