/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Inconsolata", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
.btn-primary {
  margin: 2rem;
  border: none;
  background-color: #ff900e;
  border-radius: 0.5rem;
  color: white;
  padding: 1.4rem 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
header > nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  /* gap: 2rem; */
}
nav > ul > li {
  list-style: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-content h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}
.banner img {
  width: 100%;
}
/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
